In [1]:
from pypremium import PensionPremium

# Pypremium Examples

## One First Example

In [2]:
irate = 3.5 / 100
base_amount = 3000
year = 2016

To initalize `PyPremium`, it is only necessary a family represented by a python dictionary, an interest rate, the base amount of the pension, and the year of evaluation

In [3]:
family1 = {"X" : ["invalid", 50, "M", True],
           "Y" : ["spouse", 45, "F", False],
           "x1": ["descendant", 20, "M", False],
           "x2": ["descendant", 10, "F", False]}

family1 = PensionPremium(family1, base_amount, irate, year)
# With the ".compute_premium" method, we compute the premium needed
# to insure the pension.
family1.compute_premium()

953.99395049527993

To look the inbetween steps required to compute the premium we need the `.steps_table` method (note that $\ddot{a}^{(12)}1\rceil$) is never computed in this method).

In [4]:
family1_steps = family1.steps_table()
family1_steps.head(10)

,Px_inv,Px_spouse,b1(i),b2(i),Vk,P(0),P(1),P(2)
0,1.000000,1.000000,4050.000000,3600.000000,1.000000,0.00000,0.000000,1.000000
1,0.981450,0.998510,4049.811000,3599.811000,0.966184,0.00000,0.000630,0.999370
2,0.962685,0.996852,4049.604130,3599.604130,0.933511,0.00000,0.001320,0.998680
3,0.943720,0.995008,4049.376431,3599.376431,0.901943,0.00000,0.002079,0.997921
4,0.924562,0.992959,4049.127949,3599.127949,0.871442,0.00000,0.002907,0.997093
5,0.905211,0.990685,3750.000000,3300.000000,0.841973,0.00000,1.000000,0.000000
6,0.885668,0.988168,3749.955000,3300.022500,0.813501,0.00015,0.999850,0.000000
7,0.865917,0.985392,3749.910007,3300.044997,0.785991,0.00030,0.999700,0.000000
8,0.845949,0.982337,3749.862021,3300.068989,0.759412,0.00046,0.999540,0.000000
9,0.825740,0.978967,3749.811045,3300.094478,0.733731,0.00063,0.999370,0.000000

## A Bigger Example

The `PensionPremium` class can hold even bigger families. Consider the following four children family:

In [5]:
family2 = {"Isaac":     ["invalid", 50, "M", True],
           "Adda":      ["spouse", 45, "F", False],
           "Johann":    ["descendant", 20, "M", False],
           "Elizabeth": ["descendant", 10, "F", False],
           "Marie":     ["descendant", 25, "F", True],
           "Carl":      ["descendant",  8, "F", False]}

family2 = PensionPremium(family2, base_amount, irate, year)
family2.compute_premium()

1079.399555920199

In [6]:
family2.steps_table().head(10)

,Px_inv,Px_spouse,b1(i),b2(i),Vk,P(0),P(1),P(2),P(3),P(4)
0,1.000000,1.000000,4650.000000,4200.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000
1,0.981450,0.998510,4649.205000,4199.205000,0.966184,0.000000e+00,0.000000,0.000001,0.002647,0.997351
2,0.962685,0.996852,4648.306530,4198.306530,0.933511,0.000000e+00,0.000000,0.000006,0.005633,0.994361
3,0.943720,0.995008,4647.296231,4197.296231,0.901943,0.000000e+00,0.000000,0.000014,0.008984,0.991002
4,0.924562,0.992959,4646.171864,4196.171864,0.871442,0.000000e+00,0.000000,0.000029,0.012703,0.987268
5,0.905211,0.990685,4346.069611,3896.069611,0.841973,0.000000e+00,0.000000,0.013101,0.986899,0.000000
6,0.885668,0.988168,4344.952839,3894.952839,0.813501,0.000000e+00,0.000003,0.016819,0.983179,0.000000
7,0.865917,0.985392,4343.736705,3893.736705,0.785991,0.000000e+00,0.000006,0.020865,0.979129,0.000000
8,0.845949,0.982337,4342.371449,3892.371450,0.759412,1.712219e-09,0.000015,0.025398,0.974587,0.000000
9,0.825740,0.978967,4340.903399,3890.903402,0.733731,5.553393e-09,0.000028,0.030267,0.969706,0.000000

## A Smaller One
We can also have a smaller family with no children at all.

In [5]:
family3 = {"X" : ["invalid", 50, "M", True],
          "Y" : ["spouse", 45, "F", False]}

family3 = PensionPremium(family3, base_amount, irate, year)
family3.compute_premium()

879.21525147655541

In [6]:
family3.steps_table().head(10)

     Px_inv  Px_spouse   b1(i)   b2(i)        Vk  P(0)
0  1.000000   1.000000  3450.0  3450.0  1.000000     1
1  0.981450   0.998510  3450.0  3450.0  0.966184     1
2  0.962685   0.996852  3450.0  3450.0  0.933511     1
3  0.943720   0.995008  3450.0  3450.0  0.901943     1
4  0.924562   0.992959  3450.0  3450.0  0.871442     1
5  0.905211   0.990685  3450.0  3450.0  0.841973     1
6  0.885668   0.988168  3450.0  3450.0  0.813501     1
7  0.865917   0.985392  3450.0  3450.0  0.785991     1
8  0.845949   0.982337  3450.0  3450.0  0.759412     1
9  0.825740   0.978967  3450.0  3450.0  0.733731     1